.about-company__container {
  position: relative;

  max-width: 1220px;
  margin: 0 auto;
  padding: 0 30px 110px 205px;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -5px;

    display: block;
    width: 220px;
    height: 317px;

    background-image: url("../img/2005_desktop_1x.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/2005_desktop_2x.png");
    }
  }
}

.about-company__container h2 {
  margin: 0 0 20px;

  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #666666;
}

.about-company__container p {
  margin: 0 0 21px;

  font-size: 16px;
  line-height: 22px;
  font-family: "PT Mono", "Arial", sans-serif;
  color: #666666;

  &:last-of-type {
    margin: 0 0 39px;
  }
}

.about-company__mobile-text {
  display: none;
}

.about-company__link {
  display: block;
  box-sizing: border-box;
  width: 180px;
  padding: 14px 12px 13px 12px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #00b2ff;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border: 1px solid #00b2ff;
  border-radius: 5px;

  &:hover {
    color: #ffffff;

    background-color: #00b2ff;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width) {
  .about-company__container {
    padding: 0 30px 84px 212px;

    &::before {
      top: -2px;
      left: 0;

      width: 244px;
      height: 362px;

      background-image: url("../img/2005_tablet_1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/2005_tablet_2x.png");
      }
    }
  }

  .about-company__container h2 {
    margin: 0 0 24px;

    font-size: 32px;
    line-height: 140.62%;
  }

  .about-company__container p {
    &:last-of-type {
      margin: 0 0 41px;
    }
  }

  .about-company__mobile-text {
    display: inline;
  }

  .about-company__desktop-text {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .about-company__container {
    padding: 0 14px 65px;

    &::before {
      content: none;
    }
  }

  .about-company__container h2 {
    margin: 0 0 21px;

    font-size: 28px;
    line-height: 140.62%;
  }

  .about-company__container p {
    margin: 0 0 39px;
    padding: 0 0 0 3px;

    &:last-of-type {
      margin: 0 0 29px;
    }
  }

  .about-company__link {
    margin: 0 0 0 3px;
  }
}
