.callback {
  width: 100%;
  overflow: hidden;

  background-color: #00b2ff;
}

.callback__container {
  position: relative;

  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 91px 25px 113px;

  &::before {
    content: url("../img/form_small-triangle.svg");
    position: absolute;
    top: 42px;
    right: -337px;
  }

  &::after {
    content: url("../img/form_big-triangle.svg");
    position: absolute;
    top: 288px;
    right: -428px;
  }
}

.callback__form-wrap {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 70px;
    left: -625px;

    display: block;
    width: 511px;
    height: 288px;

    background-color: transparent;
    background-image: url("../img/airplane_1x.png");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/airplane_2x.png");
    }
  }

  &::after {
    content: url("../img/main-triangles_desktop.svg");
    position: absolute;
    top: -151px;
    left: -800px;
  }
}

.callback__form-wrap h2 {
  margin: 0 0 11px -4px;

  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
}

.callback__form-wrap p {
  margin: 0 0 50px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-family: "PT Mono", "Arial", sans-serif;
  color: #ffffff;
}

.callback__form-section {
  display: flex;
  width: 570px;
}

.callback__form-section--basic {
  justify-content: space-between;
  margin: 0 0 41px;
}

.callback__form-section--basic input {
  width: 270px;
}

.callback__form-section--answer {
  margin: 0 0 43px;
}

.callback__form-section--answer textarea {
  width: 100%;
  min-height: 154px;
}

.callback__form input[type="text"],
.callback__form input[type="tel"],
.callback__form textarea {
  padding: 12px 17px 15px;

  font-size: 16px;
  line-height: 22px;
  font-family: "PT Mono", "Arial", sans-serif;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.1);
  border: none;

  &::placeholder {
    color: #ffffff;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.callback__form-section--submit {
  align-items: center;
}

.callback__form-button {
  flex: 1 0 270px;
  box-sizing: border-box;
  margin-right: 70px;
  padding: 14px 18px 13px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;

  &:hover {
    color: #00b2ff;

    background-color: #ffffff;
  }

  &:active {
    opacity: 0.3;
  }
}

.callback__form-section--submit label {
  position: relative;

  font-size: 14px;
  line-height: 16px;
  font-family: "PT Mono", "Arial", sans-serif;
  color: #ffffff;

  opacity: 0.8;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -32px;

    display: block;
    box-sizing: border-box;
    width: 16px;
    height: 16px;

    background-color: transparent;
    border: 1px solid #ffffff;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.callback__form-section--submit input[type="checkbox"]:checked + label {
  &::before {
    background-image: url("../../img/icon-check.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.callback__form-section--submit input[type="checkbox"]:focus + label {
  outline: solid 1px #ffffff;
}


@media (max-width: $tablet-width) {
  .callback__container {
    justify-content: center;
    padding: 79px 25px 104px 30px;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }

  .callback__form-wrap {
    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }

  .callback__form-wrap h2 {
    margin: 0 0 16px -4px;

    font-size: 32px;
    line-height: 45px;
  }

  .callback__form-wrap p {
    margin: 0 0 54px;
  }

  .callback__form-section {
    width: 591px;
  }

  .callback__form-section--basic {
    justify-content: flex-start;
    margin: 0 0 42px;
  }

  .callback__form-section--basic input {
    width: 280px;
  }

  .callback__form-section--basic input[type="text"] {
    margin: 0 32px 0 0;
  }

  .callback__form-section--basic input[type="tel"] {
    width: 280px;
  }

  .callback__form-section--answer {
    margin: 0 0 45px;
  }

  .callback__form-section--answer textarea {
    min-height: 160px;
  }

  .callback__form input[type="text"],
  .callback__form input[type="tel"],
  .callback__form textarea {
    padding: 12px 17px 17px;
  }

  .callback__form-button {
    flex: 1 0 280px;
    margin: 0 72px 0 0;
  }
}

@media (max-width: $mobile-width) {
  .callback__container {
    width: 320px;
    margin: 0 auto;
    padding: 30px 15px 42px;
  }


  .callback__form-wrap h2 {
    margin: 0 0 13px;

    font-size: 28px;
    line-height: 39px;
  }

  .callback__form-wrap p {
    margin: 0 0 26px;
  }

  .callback__form-section {
    width: 290px;
    flex-direction: column;
  }

  .callback__form-section--basic {
    margin: 0 0 31px;
  }

  .callback__form-section--basic input[type="text"],
  .callback__form-section--basic input[type="tel"] {
    width: 100%;
  }

  .callback__form-section--basic input[type="text"] {
    margin: 0 0 31px;
  }

  .callback__form-section--answer {
    margin: 0 0 30px;
  }

  .callback__form-section--answer textarea {
    min-height: 104px;
  }

  .callback__form-button {
    flex: 0 1 auto;
    width: 100%;
    padding: 14px 18px 15px;

    margin: 0 0 30px;
  }

  .callback__form-section--submit label {
    padding: 0 0 0 34px;

    &::before {
      top: 1px;
      left: 0;
    }
  }
}
