.catalog {
  width: 100%;

  background: #1b2d37;
}

.catalog__container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 88px 25px 127px;
}

.catalog__container h2 {
  margin: 0 0 52px;

  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  position: relative;

  width: 31.624%;
  height: 620px;


  &:not(:nth-of-type(3n)) {
    margin-right: 2.564%;
  }

  &:nth-of-type(n + 4) {
    margin-top: 30px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__item--production {
  background-image: url("../img/catalog_production_desktop_1x.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/catalog_production_desktop_2x.png");
  }
}

.catalog__item--mounting {
  background-image: url("../img/catalog_mounting_desktop_1x.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/catalog_mounting_desktop_2x.png");
  }
}

.catalog__item--accessories {
  background-image: url("../img/catalog_accessories_desktop_1x.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/catalog_accessories_desktop_2x.png");
  }
}

.catalog__item-container {
  width: 100%;
  height: 100%;
  padding: 50px 155px 50px 45px;
}

.catalog__item-container h3 {
  margin: 0;

  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.catalog__item-angle {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 63px;
  height: 63px;

  background-color: #00b2ff;

  &::before {
    content: url("../img/icon-angle.svg");
    position: absolute;
    top: 22px;
    left: 31px;
  }
}

@media (max-width: $tablet-width) {
  .catalog__container {
    padding: 50px 25px 78px;
  }

  .catalog__container h2 {
    margin: 0 0 49px;
    padding: 0 90px 0 0;

    font-size: 32px;
    line-height: 45px;
  }

  .catalog__list {
    flex-direction: column;
  }

  .catalog__item {
    width: 100%;
    height: 256px;

    &:first-of-type {
      width: 99.305%;
    }

    &:not(:nth-of-type(3n)) {
      margin-right: 0;
    }

    &:nth-of-type(n + 4) {
      margin-top: 0;
    }

    &:not(:last-of-type) {
      margin-bottom: 46px;
    }
  }

  .catalog__item--production {
    background-image: url("../img/catalog_production_tablet_1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/catalog_production_tablet_2x.png");
    }
  }

  .catalog__item--mounting {
    background-image: url("../img/catalog_mounting_tablet_1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/catalog_mounting_tablet_2x.png");
    }
  }

  .catalog__item--accessories {
    background-image: url("../img/catalog_accessories_tablet_1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/catalog_accessories_tablet_2x.png");
    }
  }

  .catalog__item-container {
    padding: 40px 505px 40px 45px;
  }

  .catalog__item--accessories .catalog__item-container {
    padding: 50px 505px 40px 45px;
  }
}

@media (max-width: $mobile-width) {
  .catalog__container {
    padding: 50px 15px 64px;
  }

  .catalog__container h2 {
    margin: 0 0 42px;
    padding: 0 0 0 10px;

    font-size: 28px;
    line-height: 39px;
  }

  .catalog__item {
    &:first-of-type {
      width: 100%;
    }

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }

  .catalog__item--production {
    background-image: url("../img/catalog_production_mobile_1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/catalog_production_mobile_2x.png");
    }
  }

  .catalog__item--mounting {
    background-image: url("../img/catalog_mounting_mobile_1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/catalog_mounting_mobile_2x.png");
    }
  }

  .catalog__item--accessories {
    background-image: url("../img/catalog_accessories_mobile_1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/catalog_accessories_mobile_2x.png");
    }
  }

  .catalog__item-container {
    padding: 20px 70px 20px 35px;
  }

  .catalog__item--accessories .catalog__item-container {
    padding: 30px 85px 20px 35px;
  }

  .catalog__item-angle {
    &::before {
      left: 28px;
    }
  }
}
