.page-footer {
  width: 100%;

  background-color: #fafafa;
}

.page-footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1461px;
  margin-right: auto;
  margin-left: auto;
  padding: 65px 24px 0 25px;
}

.page-footer__socials-container {
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  margin: 0 0 49px 0;
}

.page-footer__socials {
  display: flex;
  justify-content: space-between;
  width: 112px;
}

.page-footer__social-icon {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__nav-container {
  display: flex;
  justify-content: space-between;
  width: 70.163%;
  margin: 0 0 58px 0;

  font-size: 15px;
  line-height: 25px;
  font-family: "PT Mono", "Arial", sans-serif;
  color: #1b2d37;
}

.page-footer__nav-container h3 {
  margin: 0 0 25px;

  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.page-footer__nav-container ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-footer__nav-container a {
  color: #1b2d37;

  opacity: 0.5;
}

.page-footer__nav {
  width: 498px;
  margin: 0 45px 0 0;
}

.page-footer__nav-list {
  display: flex;
  flex-flow: column wrap;
  height: 100px;
}

.page-footer__nav-item {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__office {
  width: 33.636%;
}

.page-footer__office-contacts {
  display: flex;
  flex-flow: column;
}

.page-footer__office-contacts li {
  line-height: 25px;
}

.page-footer__office-tel {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.accordeon__button {
  display: none;
}

.page-footer__bottom {
  border-top: 1px solid rgba(98, 105, 98, 0.2);
}

.page-footer__bottom-container {
  display: flex;
  width: 100%;
  max-width: 1461px;
  margin-right: auto;
  margin-left: auto;
  padding: 14px 26px 14px 23px;
}

.page-footer__bottom-container p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Mono", "Arial", sans-serif;
  color: #1b2d37;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  opacity: 0.5;
}

.page-footer__bottom-container a {
  color: #1b2d37;
}

.page-footer__rights {
  margin: 0 74px 0 0;
}

.page-footer__copyright {
  margin: 0 142px 0 0;
}

.page-footer__bottom-links {
  display: flex;
  flex: 1 0;
  justify-content: space-between;
}

.page-footer__bottom-links a {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__confidentiality-terms {
  margin: 0;
}

.page-footer__developer-link {
  margin: 0;
}


@media (max-width: $tablet-width) {
  .page-footer__top {
    flex-direction: column;
    padding: 0;
  }

  .page-footer__socials-container {
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 19px 25px 21px;

    &::after {
      content: "1999-2018 SD Service Devices";

      display: block;
      flex: 1 0 auto;
      order: 1;

      font-size: 13px;
      line-height: 24px;
      font-family: "PT Mono", "Arial", sans-serif;
      color: #1b2d37;
      text-transform: uppercase;
      letter-spacing: 0.04em;

      opacity: 0.5;
    }
  }

  .page-footer__logo {
    margin: 0 86px 0 0;
  }

  .page-footer__socials {
    order: 2;
  }

  .page-footer__nav-container {
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 38px 25px 36px;

    border-top: 1px solid rgba(98, 105, 98, 0.2);
  }

  .page-footer__nav {
    width: 243px;
    margin: 0 18.472% 0 0;
  }

  .page-footer__nav-list {
    max-height: none;
  }

  .page-footer__office {
    width: 333px;
  }

  .page-footer__bottom-container {
    padding: 21px 26px 25px 27px;
  }

  .page-footer__rights {
    display: none;
  }

  .page-footer__copyright {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .page-footer__socials-container {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 46px 15px 50px;

    &::after {
      margin: 0 0 31px;
    }
  }

  .page-footer__logo {
    margin: 0 0 22px;
  }

  .page-footer__nav-container {
    flex-direction: column;
    padding: 0;
  }

  .page-footer__nav-container ul {
    margin: 32px 0 0;
  }

  .accordeon {
    position: relative;
  }

  .accordeon__button {
    position: absolute;
    top: 29px;
    right: 17px;

    display: block;
    width: 16px;
    height: 16px;

    background-color: transparent;
    background-image: url("../img/icon-plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  .accordeon--active .accordeon__button {
    background-image: url("../img/icon-minus.svg");
  }

  .accordeon .accordeon__content {
    display: none;
  }

  .accordeon--active .accordeon__content {
    display: flex;
  }

  .page-footer__nav {
    width: 100%;
    padding: 29px 95px 27px 15px;
  }

  .page-footer__nav h3 {
    margin: 0;
  }

  .page-footer__office {
    width: 100%;
    padding: 28px 95px 26px 15px;

    border-top: 1px solid rgba(98, 105, 98, 0.2);
  }

  .page-footer__office h3 {
    margin: 0;
  }

  .page-footer__bottom-container {
    padding: 28px 15px 26px;
  }

  .page-footer__bottom-links {
    flex-direction: column;
    align-items: center;
  }

  .page-footer__confidentiality-terms {
    margin-bottom: 21px;
  }
}
